/* css de index */

@font-face {
    font-family: mifuente;
    src: url(tipografia/Breaking\ Bad.ttf);
}

#index, #formulario{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo{
    background-image: url(img/logo.PNG);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto;
}

.indexh1{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 2rem;
    /* Pensaba no poner la fuenta y solo comentarla ya que no se ve bien
    pero aqui está */
    font-family: miFuente;
}

/* Aqui esta el intento con el div y el poster pero como no sabia como hacer el mapeado aqui
ya que creo que eso se hace en html, pues lo hice en html */
/* #poster{
    width: 700px;
    height: 300px;
    background-image: url(img/poster.jpg);
    background-size: 100% 100%;
    margin: auto;
    border: 10px outset brown;
    border-radius: 22px;
} */

#img{
    width: 700px;
    height: 300px;
    border: 10px outset brown;
    border-radius: 22px;
}

/* --------------------------------------------------- */
/* css de formulario */

h1{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 500px;
    height: auto;
    border: 2p solid #666;
    background-color: #fffc;
    border-radius: 10px;
    margin: auto;
    padding: 2rem;
    font-size: 15px;
}


.campo label {
    display: inline-block;
    width: 10rem;
    margin: 0.5rem 0;
}

textarea {
    width: 98%;
    margin-bottom: 1rem;
    resize: none;
}

input[type=submit], input[type=reset], input[type=button]{
    margin-right: 1rem;
    font-size: 10px;
}

input[type=submit] {
    background-color: #28a745;
    color: white;
}

input[type=reset] {
    background-color: red;
    color: white;
    
}

input[type=file] {
    background-color: gray;
    color: white;
}

/* --------------------------------------------------- */
/* css de tabla */
/* Aqui las imagenes que estan dentro de la tabla las hice directamente en html*/

/* La unica imagen que son de las que estan dentro de la tabla fue la 
de Hank Schrader ya que las demas imagenes que trataba de insertar 
se me descuadraban y no entendia como arreglarlo. */
td#hanks {
    background-image: url(img/hankschrader.png);
    background-size: cover;
}

#tabla{
    background-color: #0c3e11;
    margin-top: 2rem;   
    font-family: Arial, Helvetica, sans-serif;
}

#divtabla{
    background-image: url(img/cabecera.png);
    width: 450px;
    height: 220px;
    margin: auto;
    background-repeat: no-repeat;
}

table{
    background-color: black;
    border: 4px solid black;
    width: 1100px;
    height: 200px;
    margin: auto;
    table-layout: fixed;
}

tr{
    background-color: black;
    width: 100px;
    height: 50px;
}

td{
    border: 6px solid black;
    color: black;
    text-align: center;
}

td.color1{
    background-color: #b7dd17;
}

td.color2{
    background-color: #ab8fcc;
}

td.color3{
    background-color: #f7ffd1;
}

td.color4{
    background-color: #89a419;
}

td.color5{
    background-color: #637126;
}

td.color6{
    background-color: #c5e247;
}

td.color7{
    background-color: #bcc3a3;
}

td.color8{
    background-color: #818f54;
}

td.color9{
    background-color: #d3e581;
}

b.bgrande{
    font-size: 40px;

}

b.bpequeño{
    font-size: 10px;

}

#tabla2{
    background-color: black;
    border: 4px solid black;
    width: 1000px;
    height: 20px;
    margin: auto;
    table-layout: fixed;
}

td.color10{
    background-color: #bfc726;
}

